.idea
webGIS/settings.py
*__pycache__/
*.secret
*.sqlite
*.sqlite3
*.pyc
*.project
*.pydevproject
*~
.ipynb_checkpoints
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
*.sublime-project
*.sublime-workspace
docs/_build
content/
ehthumbs.db
Thumbs.db
*mediaroot
/playground/
/data.json
/*.xlsx
/static/
